
.gallery-head {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-head h1 {
    font-size: 4rem;
    color: aliceblue;
    text-align: center;
    position: relative;
    z-index: 10;
}

.gallery-head-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.01), rgba(10,10,10,1));
    z-index: 1;
}

.gallery {
    padding: 20px;
    max-width: 1320px;
    margin: 0 auto;
}

.album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
}

.album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0;
    justify-content: space-between;
}

.album .gallery-item {
    position: relative;
    margin-bottom: 20px;
}

.album .img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.album .img:hover {
    transform: translateY(-5px);
}

.album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0;
    height: 100%;
}

.album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
}

.album .img.img-last {
    margin: 0 0 5px 0;
}

.album .gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    opacity: 0;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(10px);
}

.album .gallery-item:hover .gallery-caption {
    opacity: 1;
    transform: translateY(-5px);
}
/*Scroll to top button customization*/
.scroll-content::after{
    border: 5px solid #9579B5;
    border-right: transparent;
    border-bottom: transparent;
}
.scroll-arrow{
    color: #9579B5;
}
.progress-ring-circle{
    stroke:#9579B5;        
}
@media (max-width: 1024px) {
    .album .img {
        margin: 0 0 18px 0;
    }
    .album .responsive-container-block.img-cont {
        max-width: 50%; /* 2 columns on tablet */
    }
}

@media (max-width: 768px) {

}




